<!-- Sidebar -->
<div class="docs-sidebar">
    <button class="toggler" type="button" onclick="toggleSidebar()" aria-label="Toggle sidebar">
        <i class="material-symbols-rounded icon sidebar-toggle-icon">chevron_backward</i>
    </button>
    <div class="site-logo">
    </div>
    <nav class="docs-nav">
        <div class="sidebar-section">
            <a href="/" class="sidebar-toggle {% if page.url == '/' %}active{% endif %}">
                <i class="material-symbols-rounded icon">home</i>
                <span class="sidebar-section-title">Home</span>
            </a>
        </div>

        {% assign nav_doc = site.navigation | first %}
        {% for section in nav_doc.navigation %}
        {% assign section_is_active = false %}
        {% if section.path %}
        {% if page.url == section.path %}
        {% assign section_is_active = true %}
        {% endif %}
        {% endif %}

        <div class="sidebar-spacer"></div>
        <div class="sidebar-section">
            {% if section.path %}
            <a href="{{ section.path | relative_url }}"
                class="sidebar-toggle {% if section_is_active %}active{% endif %}">
                {% if section.icon %}
                <i class="material-symbols-rounded icon">{{ section.icon }}</i>
                {% endif %}
                <span class="sidebar-section-title">{{ section.title }}</span>
            </a>
            {% else %}
            <button class="sidebar-toggle {% if section_is_active %}active{% endif %}">
                {% if section.icon %}
                <i class="material-symbols-rounded icon">{{ section.icon }}</i>
                {% endif %}
                <span class="sidebar-section-title">{{ section.title }}</span>
            </button>
            {% endif %}
            {% if section.pages %}
            <div class="sidebar-links" id="{{ section.section }}-links">
                {% assign sorted_pages = section.pages | sort: "order" %}
                {% for nav_page in sorted_pages %}
                <div class="sidebar-link-wrapper {% if page.url contains nav_page.path %}active{% endif %}">
                    <a href="{{ nav_page.path | relative_url }}"
                        class="sidebar-link {% if page.url contains nav_page.path %}active{% endif %}">
                        {{ nav_page.title }}
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

    </nav>
</div>