/* Form Component - filter components */

.filters-container {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    color: #181818;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.filters-container button {
    height: 34px;
}

.filter-row {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
}

.filter-group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}

.filter-group label {
    display: block;
    margin-bottom: 4px;
}

.filter-group input,
.filter-group input:active,
.filter-group select {
    padding: 0px 12px;
    background: white;
    border: 1px solid #DADADA;
    border-radius: 8px;
    outline: none;
    color: #5F5F5F;
    height: 32px;
    transition: all 0.2s ease;
}

.search-container {
    position: relative;

    display: flex;
}

#search-filter {
    padding-right: 28px;
}

.clear-search-btn {
    position: absolute;
    right: 0;
    top: 50%;

    padding: 0 8px 0 4px;

    background-color: transparent;

    display: none;

    transform: translateY(-50%);
}

.clear-search-btn .icon {
    color: #5F5F5F;
}

.clear-search-btn:hover {
    background-color: transparent;
}

#clear-filters {
    display: none;
    margin-left: 8px;
}

/* Forms Responsive Design */
@media (max-width: 1068px) {
    .filters-container {
        flex-direction: column;
        gap: 12px;
    }

    .filter-group {
        max-width: unset;
    }
}

/* Forms Responsive Design */
@media (max-width: 768px) {
    .filter-row {
        flex-direction: column;
    }

    .filter-group {
        min-width: 100%;
        max-width: unset;
    }

    /* Filter Container */
    .filters-container {
        flex-direction: column;
        gap: 12px;
    }

    .filter-row {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        width: 100%;
    }

    .search-container,
    #search-filter,
    .filter-actions,
    #clear-filters {
        width: 100%;
    }

    #clear-filters {
        margin-top: 8px;
        margin-left: 0;
    }
}
