/* Form Component - filter components */

.filters-container {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    color: #181818;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.filters-container button {
    height: 34px;
}

.filter-row {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
}

.filter-group {
    flex-grow: 1;
    min-width: 180px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.filter-group label {
    display: block;
    margin-bottom: 4px;
}

.filter-group input,
.filter-group input:active,
.filter-group select {
    padding: 0px 12px;
    background: white;
    border: 1px solid #DADADA;
    border-radius: 8px;
    outline: none;
    color: #5F5F5F;
    height: 32px;
    transition: all 0.2s ease;
}

/* Forms Responsive Design */
@media (max-width: 1068px) {
    .filters-container {
        flex-direction: column;
        gap: 12px;
    }

    .filter-group {
        max-width: unset;
    }
}

/* Forms Responsive Design */
@media (max-width: 768px) {
    .filter-row {
        flex-direction: column;
    }

    .filter-group {
        min-width: 100%;
        max-width: unset;
    }

    /* Filter Container */
    .filters-container {
        flex-direction: column;
        gap: 12px;
    }

    .filter-row {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-items: end;
        width: 100%;
    }

    .filter-actions,
    #clear-filters {
        width: 100%;
    }
}
