<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

{%- include head.html -%}

<body class="docs-layout">
    <main class="page" aria-label="Content">

        {%- include sidebar.html -%}

        <div class="docs-page">
            <!-- Header -->
            <header class="header">
                <div>
                    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
                        LOGO
                        <!-- {{ site.title | escape }} -->
                    </a>
                </div>

                <nav class="site-nav">
                    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
                    <label for="nav-trigger">
                        <button class="menu-icon variant-ghost" onclick="toggleMobileSidebar()">
                            <div class="burger-line line-1"></div>
                            <div class="burger-line line-2"></div>
                        </button>
                    </label>
                </nav>
            </header>

            <div class="wrapper">
                <!-- Main content -->
                <div class="docs-wrapper">
                    <div class="docs-content">
                        <article class="post">
                            {% if page.icon %}
                            <i class="material-symbols-rounded icon page-icon">{{ page.icon }}</i>
                            {% endif %}
                            {% if page.title %}
                            <header class="post-header">
                                <h1 class="post-title">
                                    {{ page.title | escape }}
                                </h1>
                            </header>
                            {% endif %}

                            <div class="post-content">
                                {{ content }}

                                {%- include footer.html -%}
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
