<!DOCTYPE html>
<html lang='{{ page.lang | default: site.lang | default: "en" }}'>

{%- include head.html -%}

<body class="docs-layout main">
    <main class="page" aria-label="Content">

        {%- include sidebar.html -%}

        <div class="docs-page">
            <!-- Header -->
            <header class="header">
                <div>
                    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
                        LOGO
                        <!-- {{ site.title | escape }} -->
                    </a>
                </div>
                <nav class="site-nav">
                    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
                    <label for="nav-trigger">
                        <span class="menu-icon" onclick="toggleMobileSidebar()">
                            <div class="burger-line line-1"></div>
                            <div class="burger-line line-2"></div>
                        </span>
                    </label>
                </nav>
            </header>


            <!-- Main content -->

            <div class="docs-content">
                <article class="post">
                    <div class="post-content">
                        {{ content }}

                        {%- include footer.html -%}
                    </div>
                </article>
            </div>
        </div>
    </main>
</body>

</html>
